
<div id="item-in-category-container" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-xxs-12">

  <a ui-sref="public.itemPick({category: $ctrl.item.category, item: $ctrl.item.name})">
    <div class="item-title">

      <!-- need to figure out how to show just one item when you click on it -->
      <span>{{$ctrl.item.name}}</span>
      <!-- <img id="item-img" class="img-responsive" ng-src="img/fake pic.png" alt="temporary picture"> -->
      <div class="item-img-mask">
        <img id="item-img" class="img-responsive" ng-src="{{$ctrl.item.images[0]}}" alt="temporary picture">
      </div>
    </div>
  </a>
</div>

<!-- I need an sref link that takes you to an html view for the item you select

certain items should have their own views, e.g. helpbot

other times can have common views, like legos, knives, etc.

I want the URL for the view to look like .../{category}/(itemName} -->

<!-- maybe this state selects what template to use based off a url state param?:

$stateProvider.state('contacts', {
  templateUrl: function ($stateParams){
    return '/partials/contacts.' + $stateParams.filterBy + '.html';
  }
}) -->
