<!-- <link rel="stylesheet" href="css/item.component.css"> -->

<div class="item--container" ng-mouseover="vm.mouseEnter()" ng-mouseleave="vm.mouseLeave()">
  <!-- this ui-sref sets the stateParams used in the ui-router -->
  <a ui-sref="public.itemPick({category: vm.item.category, item: vm.item.name})" >
    <div class="item__title" ng-class="vm.titleStyle">
      <!-- need to figure out how to show just one item when you click on it -->
      <!-- the variable $ctrl.item is set in category-items.html as a custom html attribute -->
      {{vm.item.name}}
    </div>
    <div class="item__image-mask">
      <img class="item__image" ng-src="{{vm.item.images[0]}}" alt="temporary picture">
    </div>
  </a>
</div>

<!-- I need an sref link that takes you to an html view for the item you select

certain items should have their own views, e.g. helpbot

other times can have common views, like legos, knives, etc.

I want the URL for the view to look like .../{category}/(itemName} -->

<!-- maybe this state selects what template to use based off a url state param?:

$stateProvider.state('contacts', {
  templateUrl: function ($stateParams){
    return '/partials/contacts.' + $stateParams.filterBy + '.html';
  }
}) -->
