<link rel="stylesheet" href="css/category-items.css">
<link rel="stylesheet" href="css/gallery.component.css">

<div class="gallery--wrapper">
  <div class="category-items--breadcrumb-container">
    <span class="category-items__breadcrumb-link link-inactive" ui-sref="public.home">Home</span>
    <span class="category-items__breadcrumb-link--divider"> \ </span>
    <span class="category-items__breadcrumb-link link-inactive" ui-sref="public.categoryItems({category: $ctrl.item.category})">{{$ctrl.item.cat_long_name}}</span>
    <span class="category-items__breadcrumb-link--divider"> \ </span>
    <span class="category-items__breadcrumb-link link-active">{{$ctrl.item.name}}</span>
  </div>

  <div class="gallery--container" ng-if="$ctrl.item.carousel">
    <div class="gallery__title">{{$ctrl.item.name}}</div>

    <div class="gallery__carousel-and-thumbnails--container">
      <div class="gallery__carousel--container">
        <!-- bootstrap carousel -->
        <div class="gallery__carousel-outer carousel-slide" id="galleryCarousel" data-ride="carousel" data-interval="false">
          <!-- main panel -->
          <div class="carousel-inner">
            <div class="gallery__carousel-inner__image-mask item {{$ctrl.active($index)}}" ng-repeat="image in $ctrl.item.images">
              <img class="gallery__carousel-inner__image" src="{{image}}" ng-init="$ctrl.count = $index" alt="main picture">
            </div>
          </div>
          <!-- controlls -->
          <!-- examples say to use an anchor tag for these control elements with an href pointing to the carousel id, but this does not work with ng -->
          <!-- ng needs to handle click events to tell the carousel what to do, otherwise nothing happens either -->
          <div class="gallery__carousel-outer__left-control--container">
            <a class="gallery__carousel-outer__control left carousel-control"
               ng-click="$ctrl.slide('prev')"
               role="button"
               data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">previous</span>
            </a>
          </div>
          <div class="gallery__carousel-outer__right-control--container">
            <a class="gallery__carousel-outer__control right carousel-control"
               ng-click="$ctrl.slide('next')"
               role="button"
               data-slide="next">
              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">next</span>
            </a>
          </div>
        </div>
        <!-- /bootstrap carousel -->
      </div>
    <div class="gallery__thumbnails--container">
      <div class="gallery__thumbnail-image-mask {{$ctrl.active($index)}}"
           data-target="#galleryCarousel"
           ng-click="$ctrl.slideTo($index)"
           ng-class="{'thumbnail-active' : $ctrl.thumbnailActive == $index}"
           data-slide-to="$index"
           ng-repeat="image in $ctrl.item.images">
        <img class="gallery__thumbnail-image"
             src="{{image}}"
             alt="thumbnail picture">
      </div>
    </div>
  </div>
    <!-- item info panel -->
    <div class="gallery__descriptions--container">
      <div class="gallery__description-text" ng-repeat="text in $ctrl.item.text">
        <span>{{text}}</span>
      </div>
    </div>
  </div>

  <div class="gallery__no-carousel--container" ng-hide="$ctrl.item.carousel">
    <img class="gallery__no-carousel__single-image" src="{{$ctrl.item.images[0]}}" alt="{{$ctrl.item.description}}">
  </div>
</div>
