<div id="gallery-item-container" class="container">
  <div id="breadcrumb-custom"  >
    <span ui-sref="public.home">
      Main
    </span>
    <span> \ </span>
    <span ui-sref="public.categoryItems({category: $ctrl.item.category})">
      {{$ctrl.item.cat_long_name}}
    </span>
    <span> \ </span>
    <span class="active">{{$ctrl.item.name}}</span>
  </div>

  <div class="row">
    <div class="gallery-item-title h1">
      {{$ctrl.item.name}}
    </div>
    <div class="col-lg-6">


    <div class="col-lg-12 col-md-6 col-sm-6 visible-lg visible-md visible-sm">
      <!-- bootstrap carousel -->
      <div id="galleryCarousel" class="carousel-slide" data-ride="carousel" data-interval="false">
        <!-- main panel -->
        <div class="carousel-inner">

          <div class="item {{$ctrl.active($index)}}" ng-repeat="image in $ctrl.item.images">
            <img class="img-responsive" src="{{$ctrl.item.images[$index]}}" alt="temporary picture">
          </div>
        </div>
        <!-- controlls -->
        <!-- examples say to use an anchor tag for these control elements with an href pointing to the carousel id, but this does not work with ng -->
        <!-- ng needs to handle click events to tell the carousel what to do, otherwise nothing happens either -->
        <a class="left carousel-control" href="" ng-click="$ctrl.slide('prev')" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">previous</span>
        </a>
        <a class="right carousel-control" href="" ng-click="$ctrl.slide('next')" role="button" data-slide="next">
          <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">next</span>
        </a>
      </div>
      <!-- /bootstrap carousel -->
    </div>
    <div class="thumbnail-container col-lg-12 col-md-6 col-sm-6">
      <div class="col-lg-3 col-md-3 col-sm-3 {{$ctrl.active($index)}}" data-target="#galleryCarousel" ng-click="$ctrl.slideTo($index)" data-slide-to="$index" ng-repeat="image in $ctrl.item.images">
        <img class="thumbnail img-responsive" src="{{$ctrl.item.images[$index]}}" alt="temporary picture">
      </div>
    </div>
  </div>
    <!-- item info panel -->
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="item-description" ng-repeat="text in $ctrl.item.text">
        <span>{{$ctrl.item.text[$index]}}</span>
      </div>
    </div>
  </div>

  <!-- <div class="row"> -->
    <!-- <div class="col-lg-6 col-md-6 col-sm-6"> -->
      <!-- carousel inidcators -->
      <!-- <div class="carousel-indicators"> -->

    <!-- </div> -->
  <!-- </div> -->
</div>
