body{
  /* color: red; */
}
.navbar-header{
  /* width: 100%; */
}
.navbar-brand span { /* Star-K */
  vertical-align: middle;
}
#nav-list a {
  /* color: #951C49; */
  text-align: center;
}
.panel-footer{
  position: fixed;
  width: 100%;
  bottom: 0;
}
