/* temp border */
.tb{
  border: 2px solid purple;
}
/* /temp border */

/* fake pic */
.fp {

  border: 2px dotted blue;
  background-color: red;
}
/* /fake pic */

/*  navigation */
.home-container{
  /* border: 2px solid; */
/* display: flex; */
/* justify-content: center; */
/* flex-direction: row; */
/* flex-wrap: wrap; */
/* align-items: center; */

}
#home-container{
/* background-color: #f2f2f2; */
  /* margin-bottom: 69px; */
  height: 90vh;
  padding-top: 20px;
  padding-left: 0;
  padding-right:0;
}
.home-content-description{
  text-align: center;

  font-size: 4em;
  /* text-decoration: underline; */
  font-variant: small-caps;
  border-top:20px solid #2e3138;
  border-bottom:20px solid #2e3138;
  background: linear-gradient(-90deg, #f2f2f2, #d6d6d6, #f2f2f2);
  box-shadow: 1px 1px 1px #353638;
  border-radius: 20px;
}
.about-container{
  /* border: 2px solid; */
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;

  border-top:20px solid #2e3138;
  border-bottom:20px solid #2e3138;
  background: linear-gradient(-90deg, #f2f2f2, #d6d6d6, #f2f2f2);
  box-shadow: 1px 1px 1px #353638;
  border-radius: 20px;

  /* padding: 0; */
}
#about-container{
  /* margin-bottom: 69px; */
  padding-top: 20px;
  height: 90vh;
}
.about-logo{
  margin: 0;
  padding-left: 0;
}
.about-text{
  overflow-wrap: break-word;
  /* color: #2e3138; */
  color:#01075b;
}
.about-text span {

}
#aboutText{
  font-size: 3em;
}
.about-contact{
  font-size: 2em;
}
.image-mask-test{
  width: 350px;
  height: 300px;
  overflow: hidden;
}
.image-test{
  position: relative;
  top: 0;
  left: 0;
  width: 50vh;
  transform: translate(-2vh, -2vh);
}
.contact-container{
  padding-top: 20px;
  /* border: 2px solid; */
  color:#01075b;
}
#contact-container{
  /* margin-bottom: 69px; */
  height: 90vh;
  /* margin-left: auto; */
  /* text-align: center; */
}
.contact-form{
  padding-top: 20px;
}
.contact-instruction{
  font-size: 1.5em;
  line-height: 80%;
}
.input-label label{
  text-align:right;
  /* color:#01075b; */
}
#made-container{
  padding-top: 20px;
  color: #2e3138;
  height: auto;
  margin-bottom: 69px;
  /* border: 2px solid; */
  /* text-align: center; */
  /* vertical-align: middle; */
}
#made-container{

}
#made-carousel{
  margin: 0;
}
.made-img{
  margin-left: auto;
  margin-right: auto;
  width:auto;
  height:auto;
  /* padding-top: 20px; */
}
.made-indicator.active{
  border-color: black;
}
.carousel-indicators li{
  border-color: black;
}
/* /navigation */

/* ************************************************breadcrumb */

#breadcrumb-custom{
  color: #01075b;
  padding-left: 50px;
  margin-bottom: 20px;
}
#breadcrumb-custom :hover{
  text-decoration: underline;
}
#breadcrumb-custom .active{
  color: #969696;
  /* background-color: #01075b; */
  /* border-radius: 5px; */
  text-decoration: none;
}

/* *********************************************categories */
.category-container{
  /* border: 2px solid; */
  padding: 0;
  margin:0;

  /* width: 100%; */
  /* color: #01075b; */
}
#category-container{
/* box-shadow: 1px 1px 1px #353638; */
}

.category-title{
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.category-title span {
  /* margin: 0;
  padding: 0; */

  color: #01075b;
  text-shadow: 1px 1px 1px #353638;
  font-size: 3em;

  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* line-height: 80%; */
  /* 6em does not shrink will with screen size */
}
.category-title :hover{
  /* text-decoration: underline; */
}
.category-title img{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
#category-description{
  width: 100%;
  font-size: 1.1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #f2f2f2;
  background-color: #01075b;
  border: 2px solid black;
}
.category-image-container{
  padding:0;
  margin: 0;
}

/* ***************************************************/

/************************************************************ Items */
.item-title{
  text-align: center;
  color:#01075b;
  font-size: 1.5em;
}

#item-img{
  margin:auto;
  height: 195px;
}
#item-in-category-container{
  /* margin: 0 auto; */
  /* width: 100%; */
  /* height: auto; */
  /* position: relative; */

}
#items-from-category-container{
  /* display: flex; */
  margin-bottom: 69px;
  padding-left:0;
  padding-right: 0;
  height: 100vh;
}
#category-item-container{
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  width: 100%;
  padding:0;


}
/* /Items */

/******************************************************* Gallery Item */
#gallery-container{
  margin-bottom: 69px;
  padding-left:0;
  padding-right: 0;
}
#gallery-item-container{
  padding-left:0;
  padding-right: 0;
}
.gallery-car-thumb-cont{
  padding-bottom: 20px;
  height:auto;
}
.carousel-inner img{
  height: 400px;
}
.image-mask{
  /* width: 540px; */
  /* height: 400px; */
  width: auto;
  height: auto;
  overflow: hidden;
}
.image-adjustment{
  /* position: relative; */
  /* top: 0; */
  /* left: 0; */
  /* width: 50vh; */
  /* transform: translate(-2vh, -2vh); */
  margin:auto;
  background-color: black;
}

.thumbnail-mask{
  width: 105px;
  height: 80px;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}
.thumbnail-adjustment{
  margin:auto;
  padding: 0;

}
.thumbnail.img-responsive{
  /* height:80px; */
  /* height: 100%; */
  width:auto;
  margin:auto;
  /* padding:0; */
}
.gallery-item-title{
  margin: 0;
  padding: 10px;
  padding-left: 30px;
  /* text-align: center; */
  /* font-size: 2em; */
}
.thumbnail-container{
  /* padding-top: 20px; */
}
.item-description{
  padding-bottom: 10px;
}
.right.carousel-control{
  background-image: none;
  background-repeat: 0;
}
.left.carousel-control{
  background-image: none;
  background-repeat: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* .thumbnail-mask{

  } */
  .image-adjustment{
    /* transform: translate(-15vh, -2vh); */
  }
}
@media (max-width: 767px) {
  .thumbnail-mask{
    width: auto;
    height: auto;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
  }
}
/* /Gallery Item */

/* Help Bot */
#helpbot-container{
  margin-bottom: 69px;
  padding-left:0;
  padding-right: 0;

}
#helpbot-component-container{

}
#helpbot-component-text{
  /* border: 3px solid #01075b; */
  /* border-radius: 10px; */
  /* background-color: #f2f2f2; */

  border-top:15px solid #2e3138;
  border-bottom:15px solid #2e3138;
  background: linear-gradient(-90deg, #f2f2f2, #d6d6d6, #f2f2f2);
  box-shadow: 1px 1px 1px #353638;
  border-radius: 20px;
}
#helpbot-disclaimer{
  font-size: .7em;
  text-align: center;
}
/* /Help Bot */

.contact-form input::placeholder {
  color: red;
}
