/* temp border */
.tb{
  border: 2px solid purple;
}
/* /temp border */

/* fake pic */
.fp {

  border: 2px dotted blue;
  background-color: red;
}
/* /fake pic */

/* navigation */
.home-container{
  /* border: 2px solid; */
}
#home-container{
  margin-bottom: 69px;
}
.about-container{
  border: 2px solid;
  padding-left: 15px;
  padding-right: 15px;

  /* padding: 0; */
}
#about-container{
  margin-bottom: 69px;
}
.about-logo{
  margin: 0;
  padding-left: 0;
}
.about-text{
  overflow-wrap: break-word;
  color: #2e3138;
}
.about-text span {
  font-size: 3em;
}
.contact-container{
  border: 2px solid;
}
#contact-container{
  margin-bottom: 69px;
}
.made-container{
  color: #2e3138;
  /* border: 2px solid; */
  /* text-align: center; */
  vertical-align: middle;
}
.made-container h1{
  margin-top: 0;
  text-align: center;
}
.img-made {
  margin: auto;
}
#made-container{
  margin-bottom: 69px;
}
/* /navigation */

/* categories */
.category-container{
  border: 2px solid;
  padding: 0;
  margin:0;
}
.category-title{
  /* display: flex; */
  position: relative;
  text-align: center;
  vertical-align: middle;
  /* padding-top: 50%; */
  margin: 0;
  padding: 0;
  /* margin : auto; */
  color: #f7f9ff;
  text-shadow: 1px 1px 2px #353638;

}
.category-title span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  line-height: 80%;
  /* 6em does not shrink will with screen size */
}
.category-title img{
  padding:0;
  width: 100%;
}
/* /categories */

/* Items */
.item-title{
  text-align: center;
}

#item-img{
  margin:auto;
}
#item-in-category-container{
  /* margin: 0 auto; */
  /* width: 100%; */
  /* height: auto; */
  /* position: relative; */
}
#items-from-category-container{
  /* display: flex; */
  margin-bottom: 69px;

}
#category-item-container{
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  width: 100%;

}
/* /Items */

/* Gallery Item */
#gallery-container{
  margin-bottom: 69px;
}
/* /Gallery Item */

/* Help Bot */
#helpbot-container{
  margin-bottom: 69px;

}
/* /Help Bot */
