<div id="helpbot-component-container" class="container col-lg-12">
  <div class="item-title">
    <!-- <span>{{$ctrl.item.alt_name}}</span> -->
  </div>
  <div id="helpbot-component-text" class="col-lg-offset-2 col-lg-8">
    <div id="helpbot-about" class="">
      About:
    </div>
    <div id="helpbot-description" class="helpbot-description">
      This app is a demo/pre-vis created for a pitch to LogMeIn's user services department to implement as a customer facing tool.
      Created and presented circa mid-2016.
      It was a collaborative effort between myself, Vintcent Tseng, and Taryk Alsagoff.
    </div>
  </div>
</div>
