
  <div class="helpbot-component__text--container">
    <div class="helpbot-component__text__description">
      This app is a demo/pre-vis created for a pitch to LogMeIn's user services department to implement as a customer facing tool.
      Created and presented circa mid-2016.
      It was a collaborative effort between myself,
      <a class="helpbot-component__text__link" href="https://www.linkedin.com/in/vincent-tseng-b48bb452/">
        <span>Vintcent Tseng <i class="fab fa-linkedin"></i></span>
      </a>, and Taryk Alsagoff.
    </div>
  </div>
